body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media only screen and (min-width: 601px) {
    .left-on-med-and-up {
        float: left !important;
        margin-right: 15px;
    }
}

nav ul li a:hover, nav ul li a.active {
    background-color: rgba(0,0,0,.1);
}

nav ul li a i {
    height: auto;
}

nav ul li a.dropdown-trigger {
    padding-left: 5px;
    padding-right: 0;
}

#day-picker-row {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}

#day-picker-row .card-panel {
    display: inline-block;
}

#day-picker > a {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    align-content: center;
    text-align: center;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    font-size: 1rem;
}

#day-picker-row .row {
    margin-bottom: 0;
}

#day-picker > a:last-of-type:not(.hide){
    margin-right: 0;
}

#day-picker img {
    height: 40px;
}

#day-picker > a.selected {
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,1);
}

#day-picker > a > p {
    margin: 0;
    text-transform: capitalize;
}

ul.stepper .step .step-title {cursor: default}
ul.stepper .step .step-title:hover {background-color: unset}

@media only screen and (max-width: 601px) {
    .step-content {
        margin-left: 20px !important;
        margin-right: 5px !important;
    }

    .card-panel {
        padding: 10px;
    }
}

.weather-temp-max {
    text-shadow: 1px 1px 1px red;
}

.weather-temp-min {
    text-shadow: 1px 1px 1px blue;
}

ul.stepper .step .step-title::after {
    color: red;
    border-radius: 4px;
    text-shadow: 2px 2px 2px black;
}

.input-field .helper-text {
    color: rgba(255,255,255,0.5);
}

.input-field .invalid ~ .helper-text::after {
    color: red;
    text-shadow: 2px 2px 2px black;
    font-size: 14px;
}

.day-detail {
    margin: 0 10px;
    display: inline-block;
}

.day-detail .detail {
    min-width: 80px;
    border-radius: 5px;
    border: 1px solid white;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.day-detail .detail:last-of-type:not(.hide) {
    margin-right: 0;
}


.day-detail .detail p {
    font-size: 1.2rem;
    margin: 0 10px;
}


#weather-details h3 {
    padding-bottom: 20px;
}
