/* CSS per la pagina index.html */

.pinned {
    position: fixed !important;
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

html, body, .block {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav ul li a:hover, nav ul li a.active {
    background-color: rgba(0,0,0,.1);
}
footer {
    padding-left: 0;
}
