/* Main CSS for index.html */


/* General */

html, body, .block {
  display: flex;
  flex-direction: column;
}

.parallax-container {
  z-index: 50;
  height: 300px;
  flex: none;
}

.underline {
  text-decoration: underline;
}

footer {
  padding-left: 0;
}

/* Nav pushpin */

nav.pinned ~ * {
  position: relative;
  top: 55px;
}

@media only screen and (min-width: 601px) {
  nav.pinned ~ * {
    position: relative;
    top: 64px;
  }
}

nav ul li a:hover, nav ul li a.active {
  background-color: rgba(0,0,0,.1);
}

nav ul li a i {
  height: auto;
}

nav ul li a.dropdown-trigger {
  padding-left: 5px;
  padding-right: 0;
}

.pinned {
  position: fixed !important;
  z-index: 1000;
}

.pin-top {
  z-index: 999;
}

.pin-bottom {
  z-index: 1000;
}

/* About Me section */

#pushpin-aboutme nav ul.right li a.dropdown-trigger i:last-of-type {
  margin-left: 0;
}

#pushpin-aboutme > div.parallax-container {
  height: 500px;
}

#pushpin-aboutme .aboutme-div div.center {
  font-size: 1.2rem;
}

#pushpin-aboutme .aboutme-div div.center > i {
  font-size: 6.5rem;
}

#pushpin-aboutme .aboutme-div div.center p:first-of-type {
  font-size: 1.7rem;
}

#pushpin-aboutme .aboutme-div div.center ul.collapsible li.active i {
  visibility: hidden;
  position: relative;
}

#pushpin-aboutme .aboutme-div div.center ul.collapsible li.active i:after {
  visibility: visible;
  content: 'keyboard_arrow_up';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#pushpin-aboutme ul.collapsible {
  border: 0 none;
}

#pushpin-aboutme ul.collapsible > li > div.collapsible-header {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  border: 0 none;
  align-items: center;
  justify-content: center;
}

#pushpin-aboutme ul.collapsible > li > div.collapsible-header > span {
  padding-left: 5%;
}

#pushpin-aboutme ul.collapsible > li > div.collapsible-header > i.material-icons {
  margin: 0;
}

#pushpin-aboutme ul.collapsible > li > div.collapsible-body {
  border: 0 none;
  padding: 5px !important;
  background-color: rgba(255,255,255,.1);
}

#pushpin-aboutme .aboutme-skills img {
  max-width: 70%;
}

#pushpin-aboutme .aboutme-languages div.center > i {
  font-size: 4rem;
}

/* My Projects section */

#pushpin-projects .card-image .card-title {
  text-shadow: 3px 3px 3px black, 3px 3px 3px black;
  word-break: break-word;
  top: 0;
  left: 0;
  right: 0;
  bottom: unset !important;
  padding: 5px 0 !important;
  text-align: center;
  font-weight: 500;
}

#pushpin-projects .card-image .card-title {
  font-size: 1.2rem
}

@media only screen and (min-width: 601px) {
  #pushpin-projects .card-image .card-title {
    font-size: 1.4rem;
  }
}

#pushpin-projects .card.sticky-action .card-content {
  padding: 10px;
}

#pushpin-projects .card-reveal .card-title {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0 24px 5px 5px;
  word-break: break-word;
}

#pushpin-projects .card-reveal {
  padding: 10px !important;
}

#pushpin-projects .card-reveal .card-title i {
  position: absolute;
  right: 10px;
  top: 15px;
  text-shadow: 3px 3px 3px black;
}

/* FAB - Floating Action Button */

#fab-div.fixed-action-btn {
  z-index: 1001;
}

#fab i {
  color: inherit !important;
}

#fab-div {
  padding-top: 5px;
}

#fab-div i.menu, #fab-div.active i.close {
  display: unset;
}

#fab-div.active i.menu, #fab-div i.close {
  display: none;
}

#fab-div li a {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms;
}

#fab-div.active li a {
  opacity: 1;
  transform: scale(1);
  transition: transform 300ms, opacity 300ms;
}

/* FAB Scrollspy */

#scrollspy-table li {
  margin-bottom: 5px;
}

#scrollspy-table li a {
  position: relative;
  font-weight: 500;
  width: 95px;
  left: -30px;
  right: 0;
  border-radius: 4px;
  padding: 0;
}

#scrollspy-table li a:hover {
  border-left: 2px solid;
}

#scrollspy-table li a.active {
  border-left: 0;
  font-weight: 700;
  border-left: 4px solid;
}
