/* CSS per la pagina index.html */

.pinned {
  position: fixed !important;
  z-index: 1000;
}

.pin-top {
  z-index: 999;
}

.pin-bottom {
  z-index: 1000;
}

html, body, .block {
  display: flex;
  flex-direction: column;
}

.parallax-container {
  z-index: 50;
  height: 500px;
  flex: none;
}

nav ul li a:hover, nav ul li a.active {
  background-color: rgba(0,0,0,.1);
}

nav ul li a i {
  height: auto;
}

nav ul li a.dropdown-trigger {
  padding-left: 5px;
  padding-right: 0;
}

footer {
  padding-left: 0;
}

.aboutme-div {
  font-size: 1.2rem;
}

.aboutme-div div.center > i {
  font-size: 6.5rem;
}

.aboutme-div p:first-of-type {
  font-size: 1.7rem;
}

.underline {
  text-decoration: underline;
}

.card-image .card-title {
  text-shadow: 1px 1px 0 #ffffff;
}

.card-title .hide-on-med-and-up {
  font-size: 1.2rem
}

.card-title .hide-on-small-and-down {
  font-size: 1.4rem
}

.fixed-action-btn {
  z-index: 1001;
}

#fab i {
  color: inherit !important;
}

#pushpin-aboutme ul.collapsible {
  border: 0 none;
}

#pushpin-aboutme ul.collapsible > li > div.collapsible-header {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  border: 0 none;
  align-items: center;
  justify-content: center;
}

#pushpin-aboutme ul.collapsible > li > div.collapsible-header > span {
  padding-left: 5%;
}

#pushpin-aboutme ul.collapsible > li > div.collapsible-header > i.material-icons {
  margin: 0;
}

#pushpin-aboutme ul.collapsible > li > div.collapsible-body {
  border: 0 none;
  padding: 5px !important;
  background-color: rgba(255,255,255,.1)
}
