.theme-picker > div:last-of-type {
  padding-bottom: 80px;
}

.theme-picker > h4:last-of-type{
  padding-top: 30px;
}

.theme-picker > h5 {
  margin-top: 0;
}

.circle-color {
  display: inline-block;
  height: 55px;
  width: 55px;
  padding: 3px;
  border-radius: 50%;
}

.circle-color.small {
  height: 40px;
  width: 40px;
}

.circle-color.selected {
  border: 2px solid #000000;
  border-radius: 50%;
}

.modal-content.black .circle-color.selected, .modal-content.grey .circle-color.selected, .modal-content.blue-grey .circle-color.selected {
  border: 2px solid #ffffff;
}

.circle-color div {
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.modal-content.black .circle-color div {
  border: 1px solid rgba(255,255,255,.6);
}

.theme-highlight i, .theme-highlight span {
  text-shadow: 0 0 5px #000000, 0 0 5px #ffffff, 0 0 5px #000000, 0 0 5px #ffffff, 0 0 5px #000000, 0 0 5px #ffffff;
}
